@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&display=swap");
@import url("https://db.onlinewebfonts.com/c/50db24471a66c6673f34f6686f758cf9?family=BriemHand");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

html {
  font-size: 62.5%;
}
